.Movie {
  width: 100%;
  height: 70vh;
  background-size: cover;
  padding: 5px;
}
.Movie h2,
.Movie p {
  background-color: rgba(0, 0, 0, 0.219);
  color: white;
  padding: 5px;
}

.Movie .Play {
    padding: 5px;
    background-color: white;
    cursor: pointer;
}
