.Footer {
    /* border: 1px solid; */
    padding: 5px;
    text-align: center;
    height: 100px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}